<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" routerLink="/">
    <img src="../../assets/logo.png" style="filter: brightness(5);" width="30" height="30" alt="">
  </a>
  <div class="text-white font-weight-bold">
    Moje Finanse
  </div>
</nav>
<div class="main-container d-flex flex-column">
  <app-categories-list></app-categories-list>
  <div class="container flex-grow-1">
    <div class="row d-flex">
      <div class="d-flex col-12 align-items-center justify-content-between" (click)="showHistory()">
        <fa-icon [icon]="lines" style="font-size: 1.5rem;"></fa-icon>
        <button disableRipple type="button" mat-button style="font-size: 1.5rem; background: darkseagreen; color: #fff;">
          Saldo {{ balance | currency: 'PLN' }}
        </button>
        <fa-icon [icon]="lines" style="font-size: 1.5rem;"></fa-icon>
      </div>
    </div>
  </div>
  <div class="container flex-grow-1">
    <div class="row d-flex flex-row">
      <div class="d-flex justify-content-center col-6">
        <button [routerLink]="['/expense']" type="button" mat-fab style="width: 6rem; height: 6rem; background: indianred;">
          <fa-icon [icon]="minus"></fa-icon>
        </button>
      </div>
      <div class="d-flex justify-content-center col-6">
        <button [routerLink]="['/income']" type="button" mat-fab style="width: 6rem; height: 6rem; background: darkseagreen;">
          <fa-icon [icon]="plus"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
